:root {
  --gray: #000000;
  --pink: #e608ff;
  --background: #000000;
  --shapes: #3b3d44;
  --text-title: #fcfcfc;
  --text: #e896ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}